<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CiudadCreateDlg" widgetVar="CiudadCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCiudadTitle}">
            <h:form id="CiudadCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{ciudadController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateCiudadLabel_ciudId}" for="ciudId" />
                        <p:inputText id="ciudId" value="#{ciudadController.selected.ciudId}" title="#{bundle.CreateCiudadTitle_ciudId}" required="true" requiredMessage="#{bundle.CreateCiudadRequiredMessage_ciudId}"/>
                        <p:outputLabel value="#{bundle.CreateCiudadLabel_ciudNombre}" for="ciudNombre" />
                        <p:inputText id="ciudNombre" value="#{ciudadController.selected.ciudNombre}" title="#{bundle.CreateCiudadTitle_ciudNombre}" />
                        <p:outputLabel value="#{bundle.CreateCiudadLabel_paisId}" for="paisId" />
                        <p:selectOneMenu id="paisId" value="#{ciudadController.selected.paisId}" required="true" requiredMessage="#{bundle.EditCiudadRequiredMessage_paisId}">
                            <f:selectItems value="#{paisController.itemsAvailableSelectOne}"
                                           var="paisIdItem"
                                           itemValue="#{paisIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{ciudadController.create}" value="#{bundle.Save}" update="display,:CiudadListForm:datalist,:growl" oncomplete="handleSubmit(args,'CiudadCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CiudadCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
