<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CiudadViewDlg" widgetVar="CiudadViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewCiudadTitle}">
            <h:form id="CiudadViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{ciudadController.selected != null}">
                        <h:outputText value="#{bundle.ViewCiudadLabel_ciudId}"/>
                        <h:outputText value="#{ciudadController.selected.ciudId}" title="#{bundle.ViewCiudadTitle_ciudId}"/>
                        <h:outputText value="#{bundle.ViewCiudadLabel_ciudNombre}"/>
                        <h:outputText value="#{ciudadController.selected.ciudNombre}" title="#{bundle.ViewCiudadTitle_ciudNombre}"/>
                        <h:outputText value="#{bundle.ViewCiudadLabel_paisId}"/>
                        <h:outputText value="#{ciudadController.selected.paisId}" title="#{bundle.ViewCiudadTitle_paisId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="CiudadViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
