<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PublicacionEditDlg" widgetVar="PublicacionEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditPublicacionTitle}">
            <h:form id="PublicacionEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{publicacionController.selected != null}">
                        <p:outputLabel value="#{bundle.EditPublicacionLabel_pubIdentificador}" for="pubIdentificador" />
                        <p:inputText id="pubIdentificador" value="#{publicacionController.selected.pubIdentificador}" title="#{bundle.EditPublicacionTitle_pubIdentificador}" required="true" requiredMessage="#{bundle.EditPublicacionRequiredMessage_pubIdentificador}"/>
                        <p:outputLabel value="#{bundle.EditPublicacionLabel_pubHash}" for="pubHash" />
                        <p:inputText id="pubHash" value="#{publicacionController.selected.pubHash}" title="#{bundle.EditPublicacionTitle_pubHash}" />
                        <p:outputLabel value="#{bundle.EditPublicacionLabel_pubDiropkm}" for="pubDiropkm" />
                        <p:inputText id="pubDiropkm" value="#{publicacionController.selected.pubDiropkm}" title="#{bundle.EditPublicacionTitle_pubDiropkm}" />
                        <p:outputLabel value="#{bundle.EditPublicacionLabel_pubFechaVisado}" for="pubFechaVisado" />
                        <p:calendar id="pubFechaVisado" pattern="MM/dd/yyyy" value="#{publicacionController.selected.pubFechaVisado}" title="#{bundle.EditPublicacionTitle_pubFechaVisado}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditPublicacionLabel_pubFechaRegistro}" for="pubFechaRegistro" />
                        <p:calendar id="pubFechaRegistro" pattern="MM/dd/yyyy" value="#{publicacionController.selected.pubFechaRegistro}" title="#{bundle.EditPublicacionTitle_pubFechaRegistro}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditPublicacionLabel_pubEstado}" for="pubEstado" />
                        <p:inputText id="pubEstado" value="#{publicacionController.selected.pubEstado}" title="#{bundle.EditPublicacionTitle_pubEstado}" />
                        <p:outputLabel value="#{bundle.EditPublicacionLabel_pubAutoresSecundarios}" for="pubAutoresSecundarios" />
                        <p:inputText id="pubAutoresSecundarios" value="#{publicacionController.selected.pubAutoresSecundarios}" title="#{bundle.EditPublicacionTitle_pubAutoresSecundarios}" />
                        <p:outputLabel value="#{bundle.EditPublicacionLabel_pubTipoPublicacion}" for="pubTipoPublicacion" />
                        <p:inputText id="pubTipoPublicacion" value="#{publicacionController.selected.pubTipoPublicacion}" title="#{bundle.EditPublicacionTitle_pubTipoPublicacion}" />
                        <p:outputLabel value="#{bundle.EditPublicacionLabel_pubFechaPublicacion}" for="pubFechaPublicacion" />
                        <p:calendar id="pubFechaPublicacion" pattern="MM/dd/yyyy" value="#{publicacionController.selected.pubFechaPublicacion}" title="#{bundle.EditPublicacionTitle_pubFechaPublicacion}" required="true" requiredMessage="#{bundle.EditPublicacionRequiredMessage_pubFechaPublicacion}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditPublicacionLabel_pubNumActa}" for="pubNumActa" />
                        <p:inputText id="pubNumActa" value="#{publicacionController.selected.pubNumActa}" title="#{bundle.EditPublicacionTitle_pubNumActa}" />
                        <p:outputLabel value="#{bundle.EditPublicacionLabel_pubVisado}" for="pubVisado" />
                        <p:inputText id="pubVisado" value="#{publicacionController.selected.pubVisado}" title="#{bundle.EditPublicacionTitle_pubVisado}" />
                        <p:outputLabel value="#{bundle.EditPublicacionLabel_tipoDocumento}" for="tipoDocumento" />
                        <p:inputText id="tipoDocumento" value="#{publicacionController.selected.tipoDocumento}" title="#{bundle.EditPublicacionTitle_tipoDocumento}" />
                        <p:outputLabel value="#{bundle.EditPublicacionLabel_pubCreditos}" for="pubCreditos" />
                        <p:inputText id="pubCreditos" value="#{publicacionController.selected.pubCreditos}" title="#{bundle.EditPublicacionTitle_pubCreditos}" required="true" requiredMessage="#{bundle.EditPublicacionRequiredMessage_pubCreditos}"/>
                        <p:outputLabel value="#{bundle.EditPublicacionLabel_libro}" for="libro" />
                        <p:selectOneMenu id="libro" value="#{publicacionController.selected.libro}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{libroController.itemsAvailableSelectOne}"
                                           var="libroItem"
                                           itemValue="#{libroItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditPublicacionLabel_pubEstIdentificador}" for="pubEstIdentificador" />
                        <p:selectOneMenu id="pubEstIdentificador" value="#{publicacionController.selected.pubEstIdentificador}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{estudianteController.itemsAvailableSelectOne}"
                                           var="pubEstIdentificadorItem"
                                           itemValue="#{pubEstIdentificadorItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditPublicacionLabel_idTipoDocumento}" for="idTipoDocumento" />
                        <p:selectOneMenu id="idTipoDocumento" value="#{publicacionController.selected.idTipoDocumento}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{tipoDocumentoController.itemsAvailableSelectOne}"
                                           var="idTipoDocumentoItem"
                                           itemValue="#{idTipoDocumentoItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{publicacionController.update}" value="#{bundle.Save}" update="display,:PublicacionListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PublicacionEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PublicacionEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
