<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PublicacionViewDlg" widgetVar="PublicacionViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewPublicacionTitle}">
            <h:form id="PublicacionViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{publicacionController.selected != null}">
                        <h:outputText value="#{bundle.ViewPublicacionLabel_pubIdentificador}"/>
                        <h:outputText value="#{publicacionController.selected.pubIdentificador}" title="#{bundle.ViewPublicacionTitle_pubIdentificador}"/>
                        <h:outputText value="#{bundle.ViewPublicacionLabel_pubHash}"/>
                        <h:outputText value="#{publicacionController.selected.pubHash}" title="#{bundle.ViewPublicacionTitle_pubHash}"/>
                        <h:outputText value="#{bundle.ViewPublicacionLabel_pubDiropkm}"/>
                        <h:outputText value="#{publicacionController.selected.pubDiropkm}" title="#{bundle.ViewPublicacionTitle_pubDiropkm}"/>
                        <h:outputText value="#{bundle.ViewPublicacionLabel_pubFechaVisado}"/>
                        <h:outputText value="#{publicacionController.selected.pubFechaVisado}" title="#{bundle.ViewPublicacionTitle_pubFechaVisado}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewPublicacionLabel_pubFechaRegistro}"/>
                        <h:outputText value="#{publicacionController.selected.pubFechaRegistro}" title="#{bundle.ViewPublicacionTitle_pubFechaRegistro}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewPublicacionLabel_pubEstado}"/>
                        <h:outputText value="#{publicacionController.selected.pubEstado}" title="#{bundle.ViewPublicacionTitle_pubEstado}"/>
                        <h:outputText value="#{bundle.ViewPublicacionLabel_pubAutoresSecundarios}"/>
                        <h:outputText value="#{publicacionController.selected.pubAutoresSecundarios}" title="#{bundle.ViewPublicacionTitle_pubAutoresSecundarios}"/>
                        <h:outputText value="#{bundle.ViewPublicacionLabel_pubTipoPublicacion}"/>
                        <h:outputText value="#{publicacionController.selected.pubTipoPublicacion}" title="#{bundle.ViewPublicacionTitle_pubTipoPublicacion}"/>
                        <h:outputText value="#{bundle.ViewPublicacionLabel_pubFechaPublicacion}"/>
                        <h:outputText value="#{publicacionController.selected.pubFechaPublicacion}" title="#{bundle.ViewPublicacionTitle_pubFechaPublicacion}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewPublicacionLabel_pubNumActa}"/>
                        <h:outputText value="#{publicacionController.selected.pubNumActa}" title="#{bundle.ViewPublicacionTitle_pubNumActa}"/>
                        <h:outputText value="#{bundle.ViewPublicacionLabel_pubVisado}"/>
                        <h:outputText value="#{publicacionController.selected.pubVisado}" title="#{bundle.ViewPublicacionTitle_pubVisado}"/>
                        <h:outputText value="#{bundle.ViewPublicacionLabel_tipoDocumento}"/>
                        <h:outputText value="#{publicacionController.selected.tipoDocumento}" title="#{bundle.ViewPublicacionTitle_tipoDocumento}"/>
                        <h:outputText value="#{bundle.ViewPublicacionLabel_pubCreditos}"/>
                        <h:outputText value="#{publicacionController.selected.pubCreditos}" title="#{bundle.ViewPublicacionTitle_pubCreditos}"/>
                        <h:outputText value="#{bundle.ViewPublicacionLabel_libro}"/>
                        <h:outputText value="#{publicacionController.selected.libro}" title="#{bundle.ViewPublicacionTitle_libro}"/>
                        <h:outputText value="#{bundle.ViewPublicacionLabel_pubEstIdentificador}"/>
                        <h:outputText value="#{publicacionController.selected.pubEstIdentificador}" title="#{bundle.ViewPublicacionTitle_pubEstIdentificador}"/>
                        <h:outputText value="#{bundle.ViewPublicacionLabel_idTipoDocumento}"/>
                        <h:outputText value="#{publicacionController.selected.idTipoDocumento}" title="#{bundle.ViewPublicacionTitle_idTipoDocumento}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PublicacionViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
