<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EstudianteEditDlg" widgetVar="EstudianteEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditEstudianteTitle}">
            <h:form id="EstudianteEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{estudianteController.selected != null}">
                        <p:outputLabel value="#{bundle.EditEstudianteLabel_estIdentificador}" for="estIdentificador" />
                        <p:inputText id="estIdentificador" value="#{estudianteController.selected.estIdentificador}" title="#{bundle.EditEstudianteTitle_estIdentificador}" required="true" requiredMessage="#{bundle.EditEstudianteRequiredMessage_estIdentificador}"/>
                        <p:outputLabel value="#{bundle.EditEstudianteLabel_estCodigo}" for="estCodigo" />
                        <p:inputText id="estCodigo" value="#{estudianteController.selected.estCodigo}" title="#{bundle.EditEstudianteTitle_estCodigo}" />
                        <p:outputLabel value="#{bundle.EditEstudianteLabel_estNombre}" for="estNombre" />
                        <p:inputText id="estNombre" value="#{estudianteController.selected.estNombre}" title="#{bundle.EditEstudianteTitle_estNombre}" />
                        <p:outputLabel value="#{bundle.EditEstudianteLabel_estApellido}" for="estApellido" />
                        <p:inputText id="estApellido" value="#{estudianteController.selected.estApellido}" title="#{bundle.EditEstudianteTitle_estApellido}" />
                        <p:outputLabel value="#{bundle.EditEstudianteLabel_estCorreo}" for="estCorreo" />
                        <p:inputText id="estCorreo" value="#{estudianteController.selected.estCorreo}" title="#{bundle.EditEstudianteTitle_estCorreo}" />
                        <p:outputLabel value="#{bundle.EditEstudianteLabel_estCohorte}" for="estCohorte" />
                        <p:inputText id="estCohorte" value="#{estudianteController.selected.estCohorte}" title="#{bundle.EditEstudianteTitle_estCohorte}" />
                        <p:outputLabel value="#{bundle.EditEstudianteLabel_estTutor}" for="estTutor" />
                        <p:inputText id="estTutor" value="#{estudianteController.selected.estTutor}" title="#{bundle.EditEstudianteTitle_estTutor}" />
                        <p:outputLabel value="#{bundle.EditEstudianteLabel_estSemestre}" for="estSemestre" />
                        <p:inputText id="estSemestre" value="#{estudianteController.selected.estSemestre}" title="#{bundle.EditEstudianteTitle_estSemestre}" />
                        <p:outputLabel value="#{bundle.EditEstudianteLabel_estEstado}" for="estEstado" />
                        <p:inputText id="estEstado" value="#{estudianteController.selected.estEstado}" title="#{bundle.EditEstudianteTitle_estEstado}" />
                        <p:outputLabel value="#{bundle.EditEstudianteLabel_estUsuario}" for="estUsuario" />
                        <p:inputText id="estUsuario" value="#{estudianteController.selected.estUsuario}" title="#{bundle.EditEstudianteTitle_estUsuario}" />
                        <p:outputLabel value="#{bundle.EditEstudianteLabel_estContrasena}" for="estContrasena" />
                        <p:inputText id="estContrasena" value="#{estudianteController.selected.estContrasena}" title="#{bundle.EditEstudianteTitle_estContrasena}" />
                        <p:outputLabel value="#{bundle.EditEstudianteLabel_estCreditos}" for="estCreditos" />
                        <p:inputText id="estCreditos" value="#{estudianteController.selected.estCreditos}" title="#{bundle.EditEstudianteTitle_estCreditos}" />
                        <p:outputLabel value="#{bundle.EditEstudianteLabel_usuarioId}" for="usuarioId" />
                        <p:selectOneMenu id="usuarioId" value="#{estudianteController.selected.usuarioId}" required="true" requiredMessage="#{bundle.EditEstudianteRequiredMessage_usuarioId}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"
                                           var="usuarioIdItem"
                                           itemValue="#{usuarioIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{estudianteController.update}" value="#{bundle.Save}" update="display,:EstudianteListForm:datalist,:growl" oncomplete="handleSubmit(args, 'EstudianteEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="EstudianteEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
