<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListEstudianteTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="EstudianteListForm">
                <p:panel header="#{bundle.ListEstudianteTitle}">
                    <p:dataTable id="datalist" value="#{estudianteController.items}" var="item"
                                 selectionMode="single" selection="#{estudianteController.selected}"
                                 paginator="true"
                                 rowKey="#{item.estIdentificador}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudianteTitle_estIdentificador}"/>
                            </f:facet>
                            <h:outputText value="#{item.estIdentificador}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudianteTitle_estCodigo}"/>
                            </f:facet>
                            <h:outputText value="#{item.estCodigo}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudianteTitle_estNombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.estNombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudianteTitle_estApellido}"/>
                            </f:facet>
                            <h:outputText value="#{item.estApellido}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudianteTitle_estCorreo}"/>
                            </f:facet>
                            <h:outputText value="#{item.estCorreo}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudianteTitle_estCohorte}"/>
                            </f:facet>
                            <h:outputText value="#{item.estCohorte}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudianteTitle_estTutor}"/>
                            </f:facet>
                            <h:outputText value="#{item.estTutor}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudianteTitle_estSemestre}"/>
                            </f:facet>
                            <h:outputText value="#{item.estSemestre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudianteTitle_estEstado}"/>
                            </f:facet>
                            <h:outputText value="#{item.estEstado}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudianteTitle_estUsuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.estUsuario}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudianteTitle_estContrasena}"/>
                            </f:facet>
                            <h:outputText value="#{item.estContrasena}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudianteTitle_estCreditos}"/>
                            </f:facet>
                            <h:outputText value="#{item.estCreditos}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudianteTitle_usuarioId}"/>
                            </f:facet>
                            <h:outputText value="#{item.usuarioId}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{estudianteController.prepareCreate}" update=":EstudianteCreateForm" oncomplete="PF('EstudianteCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":EstudianteViewForm" oncomplete="PF('EstudianteViewDialog').show()" disabled="#{empty estudianteController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":EstudianteEditForm" oncomplete="PF('EstudianteEditDialog').show()" disabled="#{empty estudianteController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{estudianteController.destroy}" update=":growl,datalist" disabled="#{empty estudianteController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
