<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EstudianteViewDlg" widgetVar="EstudianteViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewEstudianteTitle}">
            <h:form id="EstudianteViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{estudianteController.selected != null}">
                        <h:outputText value="#{bundle.ViewEstudianteLabel_estIdentificador}"/>
                        <h:outputText value="#{estudianteController.selected.estIdentificador}" title="#{bundle.ViewEstudianteTitle_estIdentificador}"/>
                        <h:outputText value="#{bundle.ViewEstudianteLabel_estCodigo}"/>
                        <h:outputText value="#{estudianteController.selected.estCodigo}" title="#{bundle.ViewEstudianteTitle_estCodigo}"/>
                        <h:outputText value="#{bundle.ViewEstudianteLabel_estNombre}"/>
                        <h:outputText value="#{estudianteController.selected.estNombre}" title="#{bundle.ViewEstudianteTitle_estNombre}"/>
                        <h:outputText value="#{bundle.ViewEstudianteLabel_estApellido}"/>
                        <h:outputText value="#{estudianteController.selected.estApellido}" title="#{bundle.ViewEstudianteTitle_estApellido}"/>
                        <h:outputText value="#{bundle.ViewEstudianteLabel_estCorreo}"/>
                        <h:outputText value="#{estudianteController.selected.estCorreo}" title="#{bundle.ViewEstudianteTitle_estCorreo}"/>
                        <h:outputText value="#{bundle.ViewEstudianteLabel_estCohorte}"/>
                        <h:outputText value="#{estudianteController.selected.estCohorte}" title="#{bundle.ViewEstudianteTitle_estCohorte}"/>
                        <h:outputText value="#{bundle.ViewEstudianteLabel_estTutor}"/>
                        <h:outputText value="#{estudianteController.selected.estTutor}" title="#{bundle.ViewEstudianteTitle_estTutor}"/>
                        <h:outputText value="#{bundle.ViewEstudianteLabel_estSemestre}"/>
                        <h:outputText value="#{estudianteController.selected.estSemestre}" title="#{bundle.ViewEstudianteTitle_estSemestre}"/>
                        <h:outputText value="#{bundle.ViewEstudianteLabel_estEstado}"/>
                        <h:outputText value="#{estudianteController.selected.estEstado}" title="#{bundle.ViewEstudianteTitle_estEstado}"/>
                        <h:outputText value="#{bundle.ViewEstudianteLabel_estUsuario}"/>
                        <h:outputText value="#{estudianteController.selected.estUsuario}" title="#{bundle.ViewEstudianteTitle_estUsuario}"/>
                        <h:outputText value="#{bundle.ViewEstudianteLabel_estContrasena}"/>
                        <h:outputText value="#{estudianteController.selected.estContrasena}" title="#{bundle.ViewEstudianteTitle_estContrasena}"/>
                        <h:outputText value="#{bundle.ViewEstudianteLabel_estCreditos}"/>
                        <h:outputText value="#{estudianteController.selected.estCreditos}" title="#{bundle.ViewEstudianteTitle_estCreditos}"/>
                        <h:outputText value="#{bundle.ViewEstudianteLabel_usuarioId}"/>
                        <h:outputText value="#{estudianteController.selected.usuarioId}" title="#{bundle.ViewEstudianteTitle_usuarioId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="EstudianteViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
