<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipoDocumentoCreateDlg" widgetVar="TipoDocumentoCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateTipoDocumentoTitle}">
            <h:form id="TipoDocumentoCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipoDocumentoController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateTipoDocumentoLabel_identificador}" for="identificador" />
                        <p:inputText id="identificador" value="#{tipoDocumentoController.selected.identificador}" title="#{bundle.CreateTipoDocumentoTitle_identificador}" required="true" requiredMessage="#{bundle.CreateTipoDocumentoRequiredMessage_identificador}"/>
                        <p:outputLabel value="#{bundle.CreateTipoDocumentoLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{tipoDocumentoController.selected.nombre}" title="#{bundle.CreateTipoDocumentoTitle_nombre}" required="true" requiredMessage="#{bundle.CreateTipoDocumentoRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.CreateTipoDocumentoLabel_creditos}" for="creditos" />
                        <p:inputText id="creditos" value="#{tipoDocumentoController.selected.creditos}" title="#{bundle.CreateTipoDocumentoTitle_creditos}" required="true" requiredMessage="#{bundle.CreateTipoDocumentoRequiredMessage_creditos}"/>
                        <p:outputLabel value="#{bundle.CreateTipoDocumentoLabel_maxCreditos}" for="maxCreditos" />
                        <p:inputText id="maxCreditos" value="#{tipoDocumentoController.selected.maxCreditos}" title="#{bundle.CreateTipoDocumentoTitle_maxCreditos}" />
                        <p:outputLabel value="#{bundle.CreateTipoDocumentoLabel_minCreditos}" for="minCreditos" />
                        <p:inputText id="minCreditos" value="#{tipoDocumentoController.selected.minCreditos}" title="#{bundle.CreateTipoDocumentoTitle_minCreditos}" />
                        <p:outputLabel value="#{bundle.CreateTipoDocumentoLabel_correquisitos}" for="correquisitos" />
                        <p:selectOneMenu id="correquisitos" value="#{tipoDocumentoController.selected.correquisitos}" >
                            <f:selectItems value="#{tipoDocumentoController.itemsAvailableSelectOne}"
                                           var="correquisitosItem"
                                           itemValue="#{correquisitosItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{tipoDocumentoController.create}" value="#{bundle.Save}" update="display,:TipoDocumentoListForm:datalist,:growl" oncomplete="handleSubmit(args,'TipoDocumentoCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="TipoDocumentoCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
