<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipoDocumentoEditDlg" widgetVar="TipoDocumentoEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditTipoDocumentoTitle}">
            <h:form id="TipoDocumentoEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipoDocumentoController.selected != null}">
                        <p:outputLabel value="#{bundle.EditTipoDocumentoLabel_identificador}" for="identificador" />
                        <p:inputText id="identificador" value="#{tipoDocumentoController.selected.identificador}" title="#{bundle.EditTipoDocumentoTitle_identificador}" required="true" requiredMessage="#{bundle.EditTipoDocumentoRequiredMessage_identificador}"/>
                        <p:outputLabel value="#{bundle.EditTipoDocumentoLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{tipoDocumentoController.selected.nombre}" title="#{bundle.EditTipoDocumentoTitle_nombre}" required="true" requiredMessage="#{bundle.EditTipoDocumentoRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.EditTipoDocumentoLabel_creditos}" for="creditos" />
                        <p:inputText id="creditos" value="#{tipoDocumentoController.selected.creditos}" title="#{bundle.EditTipoDocumentoTitle_creditos}" required="true" requiredMessage="#{bundle.EditTipoDocumentoRequiredMessage_creditos}"/>
                        <p:outputLabel value="#{bundle.EditTipoDocumentoLabel_maxCreditos}" for="maxCreditos" />
                        <p:inputText id="maxCreditos" value="#{tipoDocumentoController.selected.maxCreditos}" title="#{bundle.EditTipoDocumentoTitle_maxCreditos}" />
                        <p:outputLabel value="#{bundle.EditTipoDocumentoLabel_minCreditos}" for="minCreditos" />
                        <p:inputText id="minCreditos" value="#{tipoDocumentoController.selected.minCreditos}" title="#{bundle.EditTipoDocumentoTitle_minCreditos}" />
                        <p:outputLabel value="#{bundle.EditTipoDocumentoLabel_correquisitos}" for="correquisitos" />
                        <p:selectOneMenu id="correquisitos" value="#{tipoDocumentoController.selected.correquisitos}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{tipoDocumentoController.itemsAvailableSelectOne}"
                                           var="correquisitosItem"
                                           itemValue="#{correquisitosItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{tipoDocumentoController.update}" value="#{bundle.Save}" update="display,:TipoDocumentoListForm:datalist,:growl" oncomplete="handleSubmit(args, 'TipoDocumentoEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="TipoDocumentoEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
