<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LibroCreateDlg" widgetVar="LibroCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateLibroTitle}">
            <h:form id="LibroCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{libroController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateLibroLabel_pubIdentificador}" for="pubIdentificador" />
                        <p:inputText id="pubIdentificador" value="#{libroController.selected.pubIdentificador}" title="#{bundle.CreateLibroTitle_pubIdentificador}" required="true" requiredMessage="#{bundle.CreateLibroRequiredMessage_pubIdentificador}"/>
                        <p:outputLabel value="#{bundle.CreateLibroLabel_libTituloLibro}" for="libTituloLibro" />
                        <p:inputText id="libTituloLibro" value="#{libroController.selected.libTituloLibro}" title="#{bundle.CreateLibroTitle_libTituloLibro}" required="true" requiredMessage="#{bundle.CreateLibroRequiredMessage_libTituloLibro}"/>
                        <p:outputLabel value="#{bundle.CreateLibroLabel_libIsbn}" for="libIsbn" />
                        <p:inputText id="libIsbn" value="#{libroController.selected.libIsbn}" title="#{bundle.CreateLibroTitle_libIsbn}" />
                        <p:outputLabel value="#{bundle.CreateLibroLabel_pais}" for="pais" />
                        <p:inputText id="pais" value="#{libroController.selected.pais}" title="#{bundle.CreateLibroTitle_pais}" />
                        <p:outputLabel value="#{bundle.CreateLibroLabel_ciudad}" for="ciudad" />
                        <p:inputText id="ciudad" value="#{libroController.selected.ciudad}" title="#{bundle.CreateLibroTitle_ciudad}" />
                        <p:outputLabel value="#{bundle.CreateLibroLabel_editorial}" for="editorial" />
                        <p:inputText id="editorial" value="#{libroController.selected.editorial}" title="#{bundle.CreateLibroTitle_editorial}" />
                        <p:outputLabel value="#{bundle.CreateLibroLabel_ciudadId}" for="ciudadId" />
                        <p:selectOneMenu id="ciudadId" value="#{libroController.selected.ciudadId}" >
                            <f:selectItems value="#{ciudadController.itemsAvailableSelectOne}"
                                           var="ciudadIdItem"
                                           itemValue="#{ciudadIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateLibroLabel_publicacion}" for="publicacion" />
                        <p:selectOneMenu id="publicacion" value="#{libroController.selected.publicacion}" required="true" requiredMessage="#{bundle.EditLibroRequiredMessage_publicacion}">
                            <f:selectItems value="#{publicacionController.itemsAvailableSelectOne}"
                                           var="publicacionItem"
                                           itemValue="#{publicacionItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{libroController.create}" value="#{bundle.Save}" update="display,:LibroListForm:datalist,:growl" oncomplete="handleSubmit(args,'LibroCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="LibroCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
