<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListLibroTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="LibroListForm">
                <p:panel header="#{bundle.ListLibroTitle}">
                    <p:dataTable id="datalist" value="#{libroController.items}" var="item"
                                 selectionMode="single" selection="#{libroController.selected}"
                                 paginator="true"
                                 rowKey="#{item.pubIdentificador}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_pubIdentificador}"/>
                            </f:facet>
                            <h:outputText value="#{item.pubIdentificador}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_libTituloLibro}"/>
                            </f:facet>
                            <h:outputText value="#{item.libTituloLibro}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_libIsbn}"/>
                            </f:facet>
                            <h:outputText value="#{item.libIsbn}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_pais}"/>
                            </f:facet>
                            <h:outputText value="#{item.pais}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_ciudad}"/>
                            </f:facet>
                            <h:outputText value="#{item.ciudad}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_editorial}"/>
                            </f:facet>
                            <h:outputText value="#{item.editorial}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_ciudadId}"/>
                            </f:facet>
                            <h:outputText value="#{item.ciudadId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_publicacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.publicacion}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{libroController.prepareCreate}" update=":LibroCreateForm" oncomplete="PF('LibroCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":LibroViewForm" oncomplete="PF('LibroViewDialog').show()" disabled="#{empty libroController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":LibroEditForm" oncomplete="PF('LibroEditDialog').show()" disabled="#{empty libroController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{libroController.destroy}" update=":growl,datalist" disabled="#{empty libroController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
