<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LibroViewDlg" widgetVar="LibroViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewLibroTitle}">
            <h:form id="LibroViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{libroController.selected != null}">
                        <h:outputText value="#{bundle.ViewLibroLabel_pubIdentificador}"/>
                        <h:outputText value="#{libroController.selected.pubIdentificador}" title="#{bundle.ViewLibroTitle_pubIdentificador}"/>
                        <h:outputText value="#{bundle.ViewLibroLabel_libTituloLibro}"/>
                        <h:outputText value="#{libroController.selected.libTituloLibro}" title="#{bundle.ViewLibroTitle_libTituloLibro}"/>
                        <h:outputText value="#{bundle.ViewLibroLabel_libIsbn}"/>
                        <h:outputText value="#{libroController.selected.libIsbn}" title="#{bundle.ViewLibroTitle_libIsbn}"/>
                        <h:outputText value="#{bundle.ViewLibroLabel_pais}"/>
                        <h:outputText value="#{libroController.selected.pais}" title="#{bundle.ViewLibroTitle_pais}"/>
                        <h:outputText value="#{bundle.ViewLibroLabel_ciudad}"/>
                        <h:outputText value="#{libroController.selected.ciudad}" title="#{bundle.ViewLibroTitle_ciudad}"/>
                        <h:outputText value="#{bundle.ViewLibroLabel_editorial}"/>
                        <h:outputText value="#{libroController.selected.editorial}" title="#{bundle.ViewLibroTitle_editorial}"/>
                        <h:outputText value="#{bundle.ViewLibroLabel_ciudadId}"/>
                        <h:outputText value="#{libroController.selected.ciudadId}" title="#{bundle.ViewLibroTitle_ciudadId}"/>
                        <h:outputText value="#{bundle.ViewLibroLabel_publicacion}"/>
                        <h:outputText value="#{libroController.selected.publicacion}" title="#{bundle.ViewLibroTitle_publicacion}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="LibroViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
