<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PaisViewDlg" widgetVar="PaisViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewPaisTitle}">
            <h:form id="PaisViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{paisController.selected != null}">
                        <h:outputText value="#{bundle.ViewPaisLabel_paisId}"/>
                        <h:outputText value="#{paisController.selected.paisId}" title="#{bundle.ViewPaisTitle_paisId}"/>
                        <h:outputText value="#{bundle.ViewPaisLabel_paisNombre}"/>
                        <h:outputText value="#{paisController.selected.paisNombre}" title="#{bundle.ViewPaisTitle_paisNombre}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PaisViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
