<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
        <br />
        <h:link outcome="vistas/ciudad/List" value="Show All Ciudad Items"/>
        <br />
        <h:link outcome="/vistas/estudiante/List" value="Show All Estudiante Items"/>
        <br />
        <h:link outcome="/vistas/libro/List" value="Show All Libro Items"/>
        <br />
        <h:link outcome="/vistas/pais/List" value="Show All Pais Items"/>
        <br />
        <h:link outcome="/vistas/publicacion/List" value="Show All Publicacion Items"/>
        <br />
        <h:link outcome="/vistas/tipoDocumento/List" value="Show All TipoDocumento Items"/>
        <br />
        <h:link outcome="/vistas/usuario/List" value="Show All Usuario Items"/>
    </h:body>







</html>

